
<div class="card-body">
  <a href="dashboard/edit/{{id}}">
    <div class="card-header flex-row justify-space-between">
      <div class="col-8">Post Title: {{postTitle}}</div>
      <div class="col-4">posted by {{user.username}} on {{dateCreated}}</div>
    </div>  
  </a>
  <div class="commentCounts">
    <a href="/post/{{id}}">Comments {{comments.length}}</a>
  </div>
</div>