<div class="btn-back"><a href="/dashboard"> ← Back to Dashboard</a></div>
<div class="card">
  <div class="card-header  flex-row justify-space-between">
    <h2>
      <a href="/post/{{post.id}}">
        <div class="col-8">{{post.postTitle}}</div>
      </a>
    </h2>
    <div class="col-3">posted by {{post.user.username}} on {{post.dateCreated}}
    </div>
  </div>  
  <p class="card-body">
   {{post.postContent}}
  </p>
</div>

<div class="card">
  <div class="card-header"> Comments</div>
  {{> comments post.comments}}
</div>